body {
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
}
P {
  font-size: 20px;
}
.logo {
  height: 40px;
}
.first {
  height: 400px;
}
.delivery {
  height: 150px;
}
.3 {
  padding: 1000px;
  margin: 100px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex: 1;
}

.social-media a {
  color: #fff;
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 20px;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}
img {
  border-radius: 10px;
}
